body {
    height: 100vh;
}
header {
    text-align: center;
    height: 10vh;
    background-color: aqua;
}
#board {
    height: 80vh;
    width: 142vh;
    background-color: black;
    margin: 5vh auto;
}