@font-face {
    font-family: "marker";
    font-weight: 400;
    src: url("./../fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}
body {
    height: 100vh;
    width: 100vw;
    position: relative;
}
header {
    text-align: center;
    height: 10vh;
    background-color: black;
}
h1 {
    font-family: marker, sans-serif;
    font-weight: 400;
    font-size: 6vh;
    color: red;
}
article {
    width: 40%;
    border: #000;
    background-color: snow;
    border-style: solid;
}
#game-control-container {
    height: 10vh;
    margin: 0 auto;
    width: calc(75vh / 9 * 16);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#lifes {
    width: 25%;
    display: flex;
    justify-content: left;
    border: #000;
}
#lifes > div {
    margin-left: 2px;
    height: 8vh;
    width: 8vh;
    background-image: url("./../img/star.png");
    background-size: contain;
}
#score {
    display: flex;
    justify-content: right;
    border: #000;
    width: 25%;
}
#score p {
    font-family: sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
article p {
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
}
#board {
    height: 75vh;
    width: calc(75vh / 9 * 16);
    background-image: url("./../img/background1.png");
    background-size: contain;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#player {
    position: absolute;
    background-image: url("./../img/union.png");
    background-size: contain;
}
#enemy {
    position: absolute;
    background-image: url("./../img/bezos.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#killer-package {
    position: absolute;
    background-color: grey;
    background-image: url("./../img/killer-package.png");
    background-size: contain;
}
#co-worker {
    position: absolute;
    background-color: blue;
}

.end-of-game-img {
    width: 50vh;
    height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
}
#winner-img {
    background-image: url("./../img/Anarchist_black_cat.svg.png");
}
#game-over-img {
    background-image: url("./../img/game-over.png");
}
/* Button design by Michael McMillan */
#start-game {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
        4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#start-game:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    #start-game {
        padding: 0.25em 0.75em;
    }
}
